:root {
	--button-bg-color: blue;
	--button-color: white;
	--button-hover-color: blue;
	--button-hover-bg-color: white;
  --default-font: "Meiryo";
  --default-font-size: 12px;
}

@custom-media --smart-phone screen and (max-width:960px);
@custom-media --desktop screen and (min-width:961px);
